*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration:none;
    font-family: 'Press Start 2P', cursive;

}
body{
    background: url(/IMG/Picsart_23-07-22_21-56-34-072.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.slide{
    position:absolute;
    top: 20px;
    bottom: 20px;
    margin: auto;
    padding: auto;
    width: 365px;
    height: 365px;
}
.Imagenes{
    margin: 10px;
    margin-left: 90px;
    border: 10px;
    border-spacing: 10px;
}
.Imagen1{
padding: 10px;
}
.Categorias{
    background: #ec0b0b;
}
form input{
height: 25px;
width: 70%;
border: 1px solid #ccc;
border-radius: 6px ;
margin-bottom: 25px;
font-size: 1rem;
padding: 0 14px;
}

form input:focus{
    outline: none;
    border-color: #f25618;
}

::placeholder{
    color: #777;
    font-size: 1.063rem;
}

.link {
    display: flex;
    flex-direction: column ;
    text-align: center;
    gap: 15px;
}

#capy{
    top: 300px;
    right: 875px;
    
}

#capibeads{
    top: 1000px;
    left: 800px;
}
form input{
    height: 25px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 6px ;
    margin-bottom: 25px;
    font-size: 1rem;
    padding: 0 14px;
    }
    
    form input:focus{
        outline: none;
        border-color: #f25618;
    }
    
    ::placeholder{
        color: #777;
        font-size: 1.063rem;
    }
    
    .link {
        display: flex;
        flex-direction: column ;
        text-align: center;
        gap: 15px;
    }
    
    #capy{
        top: 300px;
        right: 875px;
        
    }
    
    #capibeads{
        top: 1000px;
        left: 800px;
    }

/* login */ 
.container{
    padding: 0 10px;
    min-height: 30vh;
    min-width: 2vh;   
    justify-content: center;
    background-color: #E0ECFF;
    background-color: transparent; 
    /*background: #f0f2f5;*/
}

.Capibeads-page{
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
}

.Capibeads-page .text{
    margin-bottom: 140px;
}

.Capibeads-page h1{
    color: #1877f2;
    font-size: 2.75rem;
    white-space: nowrap;
    
}
article{
    position: absolute;
    left: 700px;
    top: 300;
    width: 500px;
    height: 453px;
    color: white;
    line-height: 36px;
    font-size: 26px;
    letter-spacing: 2px;
}
article h4{
    font-family: sans-serif, cursive;
    font-size: 40px;
    margin: 20px;
}
article p img{
    float: left;
    margin-right: 20px;
}
article p{
    margin:5px 20px;
    text-align: justify;
}

.mapouter{
    position: absolute;
    top:650px;
    left: 650px;
    width: 600px;
    
}

.botones2{
    float: left;
    margin: auto;
    margin-top: 60px;
    height: 48px;
    width: 140px;
    background: #e613c2;
    font-size: 18px;
    color: white;
    line-height: 48px;
}
.botones3{
    float: left;
    margin-top: 60px;
    height: 48px;
    width: 140px;
    font-size: 15px;
    color: white;
    line-height: 48px;
}
a .botones2:hover{
    color: #3F2212;
}
a .botones2:active{
    background: rgba(235, 4, 146, 0.945);
}
a .botones3:hover{
    color: #3F2212;
}
a .botones3:active{
    background: rgba(235, 4, 146, 0.945);
}
.botones{
    float:left;
    left: 100px;
    margin-left: 0;
    height: 30px;
    width: 124px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    display: inline;
    cursor: pointer;
}
.botones1{
    float: left;
    margin-left: 0px;
    height: 30px;
    width: 184px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
a .botones:hover{
    color: #3F2212;
    font-size: 18px;
}
.botones1:hover{
    color: #3F2212;
    font-size: 18px;
}
.botonesC{
    display: block;
    margin-left: 0;
    width: 240px;
    height: 53px;
    text-decoration: none;
}
a .botonesC:hover{
    color: #3F2212;
    display: block;
}
.submenu{
    margin-left: 0;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
}
table ul li:hover .submenu{
    display: block;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 15px;
}
table ul li:hover .submenu ul a{
    color: white;
    display: block;
}
.submenu :hover{
    display: block;
    color: #3F2212;
}
.submenu ul li .botonesC{
    display: block;
    width: 166;
    height: 36;
}
.insta{
    margin: auto;
    padding: 0;
    width: 174px;
    height: 174px;
    border-radius: 25%;
    color: red;
}
.Inicio{
    text-align: center;
    margin: auto;
    font-size: 5px;
}
.contac{
    height: 1200px;
    width: 1200px;
    background-color: #3F2212;
}
#mensaje{
    color: #000;
}
.name{
    color: black;
}
#username{
    color: black;
}
.botoness{
    margin: auto;
    padding: 0;
}
.barra{
    margin: 50px;
    bottom: 25px;
}
.wrapper{
    position: absolute;
    top: 355px;
    left: 0;
    width: 200px;
    height: 453px;
}
.carritoV{
    margin: auto;
    width: 900px;
    height: 380px;
}
.vacio{
    margin: auto;
    width: 686px;
    height: 63px;
    background: white;
    color: gray;
}
.volver{
    margin: auto;
    width: 386px;
    height: 56px;
}
.Volver{
    background: palevioletred;
}
footer{
    position: relative;
    margin:0 auto;
    width: 1320px;
    height: 482px;
    color: white;
    text-align: center;
    font-family: sans-serif,cursive;
    line-height: 70px;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: body-bg;
    font-family: fuente-principal;
}

a {
    text-decoration: none;
    color: #3F2212;
    transition: .5s ease;
    
    &:hover {
        color:#3F2212;
    }
}

.contenedor-formularios {
    background: rgba(form-bg,.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: br;
    box-shadow: 0 4px 10px 4px rgba(form-bg,.3);
}

.contenedor-tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
  
    li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba(gris-light,.25);
        color: gris-light;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;
        
        &:hover {
            background:#3F2212;
            color: white;
        }
    }
    
    .active a {
        background:#3F2212;
        color: white;
    }
}

.contenido-tab > div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: white;
    font-weight: 300px;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(white,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    
    .req {
        margin: 2px;
        color:#3F2212;
    }
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    
    .req {
        opacity: 0;
    }
}

label.highlight {
    color: white;
}

input {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    border-radius: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
    &:focus {
        outline: none;
        border-color:#3F2212;
    }
}

.contenedor-input {
    position: relative;
    margin-bottom: 40px;
}

.fila-arriba {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    div {
        float: left;
        width: 48%;
        margin-right: 4%;
        
        &:last-child { 
            margin: 0;
        }
    }
}

.button {
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background:#3F2212;
    color: white;
    transition: all .5s ease;
    -webkit-appearance: none;
    
    &:hover, &:focus {
        background:#3F2212;
    }
}

.button-block {
    display: block;
    width: 100%;
    height: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .fila-arriba {
        div {
            width: 100%;

            &:last-child {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .contenedor-tabs {
        li a {
            width: 100%;
        }
    }
}

.rating{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}
.item{
    background-color: gold;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.item-full{
    background-color: #ec0b0b;
}