*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Press Start 2P', cursive;
    background-position: center;
    text-decoration: none;
}
.Carrito{
position: absolute;
bottom: 70px;
right: 150px;
background-image: none;
}
body{
    background: url(/IMG/Picsart_23-07-22_21-56-34-072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
}
header{
    position: relative;
    margin-left: 20px;
    width: 1320px;
    height: 194px;
}
#Logo{
    position: absolute;
    right: 450px;
    width: 396px;
    height: 132px;
    top: 20px;
    background: #ec0b0b;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.ProductoD{
    margin-top: 310px;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}
.redes{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;

}
.submenu ul a{
    text-decoration: none;
}
#icono1{
    top: 10px;
    left: 256px;
    cursor: pointer;    
}
.icono2{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    right: 310px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
#icono3{
    top: 10px;
    left: 19px;
    cursor: pointer;
}
.icono4{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    right: 125px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
.icono5{
    position: relative;
    top: 350px;
    left: 100px;
}
nav{
    position: relative;
    margin: auto;
    left: 160px;
    width: 1320px;
    height: 30px;
    cursor: pointer;
    text-transform: uppercase;
}
.numerito{
    background-color: transparent;
    color: white;
    padding: 0;
    text-decoration:dotted;
    display: flex;
    font-size:x-large;
}
.botones{
    float:left;
    left: 100px;
    margin-left: 0;
    height: 30px;
    width: 124px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 28px;
    text-align: center;
    display: inline;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
.botones1{
    float: left;
    margin-left: 0px;
    height: 30px;
    width: 184px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
a .botones:hover{
    color: #3F2212;
    font-size: 18px;
}
.botones1:hover{
    color: #3F2212;
    font-size: 18px;
}
.botonesC{
    margin-left: 0;
    width: 240px;
    height: 53px;
    text-decoration: none;
}
.submenu{
    margin-left: 0;
    display: none;
    background-color: #e0ffe2;
    background-color: transparent;
    line-height: 18px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}
nav ul li:hover .submenu{
    display: block;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 15px;
}
nav ul li:hover .submenu ul a{
    color: white;
}
span{
    margin-left: 30px;
}
.submenu :hover{
    color: #3F2212;
}
.submenu ul li{
    width: 166;
    height: 36;
}
.slide{
    position: relative;
    top: 20px;
    bottom: 20px;
    margin: auto;
    padding: auto;
    width: 165px;
    height: 165px;
}
.Imagenes{
    margin: 20px;
    margin-left: 90px;
    border: 60px;
    border-spacing: 60px;
}
.Imagen1{
padding: 20px;
}
.botones2{
    float: left;
    margin-left: 0px;
    margin-top: 82px;
    height: 48px;
    width: 140px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 18px;
    color: white;
    line-height: 48px;
    transition: background-color .2s, color .2s;
}
.botones3{
    float: left;
    margin-left: 0px;
    margin-top: 82px;
    height: 48px;
    width: 140px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 48px;
    transition: background-color .2s, color .2s;
}
a .botones2:hover{
    color: #3F2212;
}
a .botones2:active{
    background: rgba(14, 143, 2, 0.945);
}
a .botones3:hover{
    color: #3F2212;
}
a .botones3:active{
    background: rgba(14, 143, 2, 0.945);
}
.producto-titulo{
    padding: 5px;
    font-size: small;
    color: white;
}
.Inicio{
    margin-top: 50px;
    color: white;
    padding: 5px;
}
.Shop{
    margin-top: 50px;
    color: white;
}
.resultados{
    margin-top: 70px;
    color: aqua;
}
.insta{
    top: 35px;
    padding: 0;
    width: 174px;
    height: 174px;
    left: 0;
    border-radius: 25%;
}
.Copy{
    margin-top: 100px;
}
.categoria{
    background-color: burlywood;
    transition: background-color .2s, color .2s;
}
.categoria:hover{
    background-color:#3F2212;
    color: white;
}
.categoria1{
    background-color: burlywood;
    font-size: 15px;
    transition: background-color .2s, color .2s;
}
.categoria1:hover{
    background-color:#3F2212;
    color: white;
}
.wrapper{
    display: grid;
    grid-template-columns: 400px 1fr;
}
aside{
    margin-left: 0;
    left: 0;
    margin-top: 400px;
    padding: 0px;
    color: white;
    position: sticky;
    top: 0;
    height: 100px;
}
.wrapper aside .CategoriasD ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: background-color .2s, color .2s;
}
.wrapper aside .CategoriasD ul li a:hover{
    color: aquamarine;
}
.n{
    padding: 5px;
    color:aqua;
}
.CategoriasD{
    margin-left: 55px;
}
.CategoriasD ul li{
    padding: 10px;
}
main{
    left: 0;
    width: 900px;
    margin:0;
}
.contenedor_productos{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.contenedor_productos2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.contenedor_productos3{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.producto-imagen{
    border-radius: 1rem;
}
.producto-detalle{
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.producto-precio{
    color: aqua;
}
.producto-agregar{
    margin: 0;
    background-color: burlywood;
    border-radius: 1rem;
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover{
    background-color: #3F2212;
    color: white;
}
.btn-toolbar{
    padding: 50px;
    margin-left: 365px;
}
.bn {
    margin-left: 15px;
    width: 42px;
    height: 38px;
    background-color: burlywood;
    transition: background-color .2s, color .2s;
}
.bn:hover{
    background-color: #3F2212;
    color: white;
}
footer{
    position: relative;
    margin:0 auto;
    width: 1320px;
    height: 482px;
    background: #ec0b0b;
    color: white;
    text-align: center;
    font-family: sans-serif,cursive;
    line-height: 70px;
}
