*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Press Start 2P', cursive;
    background-position: center;
    text-decoration: none;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body{
    background: url(/IMG/Picsart_23-07-22_21-56-34-072.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    width: 1349px;
    height: 1854px;
}
header{
    position: relative;
    margin-left: 20px;
    width: 1320px;
    height: 194px;
}
#Logo{
    position: absolute;
    right: 450px;
    width: 396px;
    height: 132px;
    top: 20px;
    background: #ec0b0b;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.ProductoD{
    margin-top: 310px;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}
.redes{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;

}
#icono1{
    top: 10px;
    left: 256px;
    cursor: pointer;    
}
.icono2{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    right: 310px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
#icono3{
    top: 10px;
    left: 19px;
    cursor: pointer;
}
.icono4{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    right: 125px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}
.icono5{
    position: relative;
    top: 350px;
    left: 100px;
}
nav{
    position: relative;
    margin: auto;
    left: 160px;
    width: 1320px;
    height: 30px;
    cursor: pointer;
    text-transform: uppercase;
}
.botones{
    float:left;
    left: 100px;
    margin-left: 0;
    height: 30px;
    width: 124px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 28px;
    text-align: center;
    display: inline;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
.botones1{
    float: left;
    margin-left: 0px;
    height: 30px;
    width: 184px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
a .botones:hover{
    color: #3F2212;
    font-size: 18px;
}
.botones1:hover{
    color: #3F2212;
    font-size: 18px;
}
.botonesC{
    margin-left: 0;
    width: 240px;
    height: 53px;
    text-decoration-line: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
.submenu{
    margin-left: 0;
    display: none;
    background-color: #e0ecff;
    background-color: transparent;
    line-height: 18px;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}
nav ul li:hover .submenu{
    display: block;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 15px;
}
nav ul li:hover .submenu ul a{
    color: white;
}
.submenu :hover{
    color: #3F2212;
}
.submenu ul li{
    width: 166;
    height: 36;
}
.slide{
    position:absolute;
    top: 20px;
    bottom: 20px;
    margin: auto;
    padding: auto;
    width: 365px;
    height: 365px;
}
.Imagenes{
    margin: 20px;
    margin-left: 90px;
    border: 60px;
    border-spacing: 60px;
}
.Imagen1{
padding: 20px;
}
.CategoriasD{
    padding: 0;
    margin: 0;
    left: 0;
    position: relative;
}
.botones2{
    float: left;
    margin-left: 0px;
    margin-top: 82px;
    height: 48px;
    width: 140px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 18px;
    color: white;
    line-height: 48px;
    transition: background-color .2s, color .2s;
}
.botones3{
    float: left;
    margin-left: 0px;
    margin-top: 82px;
    height: 48px;
    width: 140px;
    background-color: #e0ecff;
    background-color: transparent;
    font-size: 15px;
    color: white;
    line-height: 48px;
    transition: background-color .2s, color .2s;
}
a .botones2:hover{
    color: #3F2212;
}
a .botones2:active{
    background: rgba(0, 128, 0, 0.945);
}
a .botones3:hover{
    color: #3F2212;
}
a .botones3:active{
    background: rgba(0, 128, 0, 0.945);
}
.insta{
    margin: 0;
    padding: 0;
    width: 174px;
    height: 174px;
    left: 574px;
    border-radius: 25%;
}
.carousel .slide{
    height: 365px;
    width: 365px;
}
.carousel-inner{
    height: 365px;
    width: 365px;
}
.wrapper{
    position: absolute;
    top: 355px;
    left: 0;
    width: 200px;
    height: 453px;
}
.carritoV{
    margin: auto;
    width: 900px;
    height: 380px;
}
.vacio{
    margin: auto;
    width: 686px;
    height: 63px;
    background: white;
    color: gray;
}
.volver{
    margin: auto;
    width: 386px;
    height: 56px;
}
.Volver{
    background: palevioletred;
}
.button{
    background: #ec0b0b;
}
.wrapper{
    display: grid;
    grid-template-columns: 400px 1fr;
}
aside{
    margin-top: 250px;
    color: white;
    position: sticky;
    top: 0;
    height: 100px;
    
}
.wrapper aside .CategoriasD ul li a{
    text-decoration: none;
    color: aliceblue;
}
.wrapper aside .CategoriasD ul li a:hover{
    color: aquamarine;
}
.wrapper aside .CategoriasD ul li{
    padding: 5px;
}
.n{
    color:aqua;
}
main{
    margin-left: 1px;
    padding: 2rem;
    background-color: burlywood;
}
.CategoriasD{
    top: 60px;
    left: 55px;
}
.seguir{
  margin-left: 55px;
  padding: 1rem;
  background-color: burlywood;
  cursor: pointer;
}
.seguir:hover{
  color: white;
  background-color: #3F2212;
}
/**Carrito **/
.carritotext{
    padding: 25px;
    margin-left: 253px;
    margin-right: 453px;
    left: 50px;
}
.carrito-comprado{
  margin: auto;
}
.carrito-vacio1{
  margin-top: 25px;
  margin: auto;
}
.carrito-vacio{
    padding: 5px;
    margin-left: 125px;
    width: 690px;
    height: 60px;
    background-color: white;
    display:none;
}
.carrito-vacio p{
    padding: 25px;
}
.carrito-productos{
    padding: 3rem;
    top: 50px;
    margin-top: 50px;
}
.contenedor_carrito{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.carrito-eliminar{
    border: 0;
    color: #ec0b0b;
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
}
.carrito-eliminar:hover{
    width: 45px;
    height: 45px;
    background-color: #3F2212;
    color: white;
    transition: background-color .2s, color .2s;
}
.carrito-titulo{
  padding: 1rem;
}
.carrito-titulo small{
  padding: 1rem;
}
.carrito-productos{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto{
    margin-bottom: 10px;
    width: 774px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 181, 109);
    border-radius: 1rem;
    padding: 0.5rem;
}
.carrito-producto small{
  font-size: .75rem;
}
.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}
.carrito-acciones{
   padding: 1rem;
   display: flex;
   justify-content: space-between;
}
.carrito-acciones-vaciar{
  border: 0;
  background-color: rgb(4, 119, 23);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.carrito-acciones-vaciar:hover{
  background-color: #3F2212;
  color: white;
}
.carrito-acciones-derecha{
  display: flex;
}
.carrito-acciones-total{
  display: flex;
  background-color:  rgb(236, 181, 109);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  gap: 1rem;
}
.acciones-comprar{
  border: 0;
  background-color: rgb(4, 119, 23);
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.acciones-comprar:hover{
  background-color: #3F2212;
  color: white;
}
.disabled{
   display: none;
}
.carrito-comprado{
  font-size: 70px;
}
footer{
    position: relative;
    margin:0 auto;
    width: 1320px;
    height: 482px;
    color: white;
    text-align: center;
    font-family: sans-serif,cursive;
    line-height: 70px;
}
/**Login**/

.inspiration {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
    font-size: 12px;
    color: #969696;
  }
  .inspiration img {
    width: 60px;
  }
  .center {
    margin-left: 700px;
    margin-top: 300px;
    left: 750px;
    display: inline-block;
    width: 275px;
    height: 490px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: linear-gradient(to top right, #f9a743, #f9db5f);
  }
  @media screen and (max-height: 500px) {
    .center {
      transition: transform 0.5s;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
  .center .ear {
    position: absolute;
    top: -110px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #243946;
  }
  .center .ear.ear--left {
    left: -135px;
  }
  .center .ear.ear--right {
    right: -135px;
  }
  .center .face {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 80px auto 10px;
    --rotate-head: 0deg;
    transform: rotate(var(--rotate-head));
    transition: transform 0.2s;
    transform-origin: center 20px;
  }
  .center .eye {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #243946;
  }
  .center .eye.eye--left {
    margin-right: 40px;
  }
  .center .eye.eye--right {
    margin-left: 40px;
  }
  .center .eye .glow {
    position: relative;
    top: 3px;
    right: -12px;
    width: 12px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(38deg);
  }
  .center .nose {
    position: relative;
    top: 30px;
    transform: scale(1.1);
  }
  .center .nose .glow {
    position: absolute;
    top: 3px;
    left: 32%;
    width: 15px;
    height: 8px;
    border-radius: 50%;
    background-color: #476375;
  }
  .center .mouth {
    position: relative;
    margin-top: 45px;
  }
  .center svg.smile {
    position: absolute;
    left: -28px;
    top: -19px;
    transform: scaleX(1.1);
    stroke: #243946;
  }
  .center .mouth-hole {
    position: absolute;
    top: 0;
    left: -50%;
    width: 60px;
    height: 15px;
    border-radius: 50%/100% 100% 0% 0;
    transform: rotate(180deg);
    background-color: #243946;
    z-index: -1;
  }
  .center .tongue {
    position: relative;
    top: 5px;
    width: 30px;
    height: 20px;
    background-color: #ffd7dd;
    transform-origin: top;
    transform: rotateX(60deg);
  }
  .center .tongue.breath {
    -webkit-animation: breath 0.3s infinite linear;
            animation: breath 0.3s infinite linear;
  }
  .center .tongue-top {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffd7dd;
  }
  .center .line {
    position: absolute;
    top: 0;
    width: 30px;
    height: 5px;
    background-color: #fcb7bf;
  }
  .center .median {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 25px;
    border-radius: 5px;
    background-color: #fcb7bf;
  }
  .center .hands {
    position: relative;
  }
  .center .hands .hand {
    position: absolute;
    top: -6px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }
  .center .hands .hand--left {
    left: 50px;
  }
  .center .hands .hand--left.hide {
    transform: translate(2px, -155px) rotate(-160deg);
  }
  .center .hands .hand--left.peek {
    transform: translate(0px, -120px) rotate(-160deg);
  }
  .center .hands .hand--right {
    left: 170px;
  }
  .center .hands .hand--right.hide {
    transform: translate(-6px, -155px) rotate(160deg);
  }
  .center .hands .hand--right.peek {
    transform: translate(-4px, -120px) rotate(160deg);
  }
  .center .hands .finger {
    position: relative;
    z-index: 0;
  }
  .center .hands .finger .bone {
    width: 20px;
    height: 20px;
    border: 2px solid #243946;
    border-bottom: none;
    border-top: none;
    background-color: #fac555;
  }
  .center .hands .finger .nail {
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #243946;
    background-color: #fac555;
    z-index: -1;
  }
  .center .hands .finger:nth-child(1),
  .center .hands .finger:nth-child(3) {
    left: 4px;
    z-index: 1;
  }
  .center .hands .finger:nth-child(1) .bone,
  .center .hands .finger:nth-child(3) .bone {
    height: 10px;
  }
  .center .hands .finger:nth-child(3) {
    left: -4px;
  }
  .center .hands .finger:nth-child(2) {
    top: -5px;
    z-index: 2;
  }
  .center .hands .finger:nth-child(1) .nail,
  .center .hands .finger:nth-child(3) .nail {
    top: 0px;
  }
  .center .login {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .center .login label {
    position: relative;
    padding: 0 20px;
  }
  .center .login label .fa {
    position: absolute;
    top: 40%;
    left: 35px;
    color: #bbb;
  }
  .center .login label .fa:before {
    position: relative;
    left: 1px;
  }
  .center .login input,
  .center .login .login-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 30px;
  }
  .center .login input {
    padding: 0 20px 0 40px;
    margin: 5px 0;
    box-shadow: none;
    outline: none;
  }
  .center .login input::-moz-placeholder {
    color: #ccc;
  }
  .center .login input:-ms-input-placeholder {
    color: #ccc;
  }
  .center .login input::placeholder {
    color: #ccc;
  }
  .center .login input.password {
    padding: 0 90px 0 40px;
  }
  .center .login .password-button {
    position: absolute;
    top: 9px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #243946;
    color: #fff;
  }
  .center .login .password-button:active {
    transform: scale(0.95);
  }
  .center .login .login-button {
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    outline: none;
    background-color: #243946;
    color: #fff;
    transition: transform 0.1s;
  }
  .center .login .login-button:active {
    transform: scale(0.95);
  }
  .center .social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .center .social-buttons .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
  }
  .center .social-buttons .social:active {
    transform: scale(0.95);
  }
  .center .footer {
    text-align: center;
    margin-top: 15px;
  }
  @-webkit-keyframes breath {
    0%, 100% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(60deg);
    }
  }
  @keyframes breath {
    0%, 100% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(60deg);
    }
  }
  